    <!-- FOOTER  -->

    <footer class="footer">
      <div class="col-lg-3 col-lg-offset-3">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
                        <li>
        Published with <a href="https://pages.github.com">GitHub Pages</a>
            </li>
        </ul>
      </div>
      <div class="col-lg-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
    {% if site.google_analytics %}
     {% include google-analytics.html %}
    {% endif %}
